@media only screen and (max-width: 600px) {
    #main {
      flex-direction: column !important;
      padding-bottom: 0 !important;
      width: auto !important;
      gap: 30px !important;
      padding-top: 40px;
      padding-bottom: 40px !important;
    }

    #main-img{
      width: 50% !important;
      height: auto !important;
    }
  }